.main_nav_menu {
    width: 1440px;
    margin-top: 28px;
    margin-bottom: 76px;
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.img_catalog {
    display: flex;
    flex-direction: row;
    margin-left: 28px;

}

.imgg {
    width: 72px;
    height: 72px;
}

.catalog {
    display: inline-flex;
    padding: 14px 30px 15px 30px;
    margin: 11px 297px 12px 59px;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: 2px solid #393;

    color: white;
}

.second_menu {
    width: 546px;
    margin-right: 137px;
    padding-left: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link {
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: #000;
    text-decoration: none;
    padding: 14px 30px 15px 30px;
    border-radius: 5px;
}

.active {
    color: white;
    padding: 14px 30px 15px 30px;
    border-radius: 5px;
    background-color: #393;
}



.shopping_link {
    color: #000;
    font-family: Montserrat;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count_num {
    background-color: rgb(230, 230, 24);
    color: black;
    padding: 0px 17px;
    border-radius: 50%;
    position: absolute;
    font-size: 16px;
    top: 19px;
    right: -46px;
}

@media (max-width: 1200px) {
    .main_nav_menu {
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .img_catalog {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .catalog {
        margin: 20px 0 0 0;
    }

    .second_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-right: 0;
        padding-left: 0;

    }
}

@media (max-width: 768px) {
    .main_nav_menu {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .img_catalog,
    .second_menu {
        justify-content: center;
        margin: 10px 0;
    }

    .shopping_link {
        margin-top: 10px;
    }
}