/* ----New season block----- */
.block_section {
    width: 1440px;
    height: 600px;
    background-color: #A1E2EB;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */

}

.block_content {
    margin-left: 50px;
    margin-top: 110px;

}

.block_content h2 {
    color: #FFF;
    font-size: 80px;
    font-weight: 700;

}

.block_content p {
    color: #FFF;
    font-size: 63px;
    font-style: normal;
    font-weight: 700;

}

.sale_button {
    color: #2D2D2D;
    font-size: 25px;
    font-weight: 700;
    display: inline-flex;
    padding: 25px 50px;
    border-radius: 13px;
    background: #FFF;
    margin-top: 60px;
}

.bush_img {
    height: 679px;
    position: relative;
    bottom: 108px;
}

.catalog {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.catalog p {
    font-size: 40px;
    font-weight: 700;
    margin-right: 96px;

}

.catalog a {
    width: 164px;
    height: 41.97px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8B8B8B;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #8B8B8B;
}

.sliced_array {
    display: grid;
    width: 1384px;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 32px;
    margin-right: 33px;
    grid-column-gap: 32px;
    grid-row-gap: 58px;
    margin-bottom: 50px;
}



/* -----draw_section------------ */

.dwarf_section {
    width: 1440px;
    height: 476px;
    background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
    display: flex;
    justify-content: space-between;
}

.draw_img {
    width: 422px;
    height: 422px;
    margin-top: 27px;
    margin-left: 91px;
    margin-right: 200px;
}

.draw_block_content {
    margin: 15px 258px 45px 0px;

}

.large_text {
    color: #FFF;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 2.7px;

}

.small_text {
    color: #FFF;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 1.5px;
}

/* .draw_block_content input {
    width: 473px;
    height: 75.441px;
    border-radius: 25.147px;
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.54px;
    padding: 27.34px 27.34px 26.1px 50.29px;
    margin-top: 46px;
}

.draw_block_content button {
    color: #FFF;
    font-size: 28.739px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.862px;
    padding: 21.04px 116px 19.67px 120px;
    border-radius: 25.147px;
    border: 2.395px solid #FFF;
    margin-top: 14.52px;
    background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);

}

.error_msg {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(215, 48, 48);
    font-size: 15px;
} */

/* ------Sale------ */

.sale_style {
    font-size: 40px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 49px;
    margin-bottom: 21px;
}

.product_container {
    margin-bottom: 44px;
}